/* Animación más rápida */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.cursor {
    cursor: pointer;
}

.img-avatar {
    height: 100px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    width: 30px;
    border-radius: 100%;
}